{
    "extends": ["next", "next/core-web-vitals"],
    "rules": {
      "@typescript-eslint/no-unsafe-call": "off",
      "@next/next/no-css-tags": "off",
      "@next/next/no-sync-scripts": "off",
      "@next/next/no-img-element": "off",
      "@next/next/no-html-link-for-pages": "off",
      "@next/next/google-font-display": "off",
      "@next/next/link-passhref": "off",
      "import/no-anonymous-default-export": "off",
      "react-hooks/rules-of-hooks": "off",
      "react/jsx-no-target-blank": "off",
      "react/no-unescaped-entities": "off",
      "react-hooks/exhaustive-deps": "off",
      "jsx-a11y/alt-text": "off",
      "react/jsx-key": "off"
    }
  }